body {
    background-image: url(./images/topography.svg), 
    linear-gradient(to right, #a52944, #6340c5) ;
    
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 2%;
    width: 15%;
    
}

.button-box {
    display: inline;
    background-color: #eebb14;
    width: 10%;
    padding: 14px;
    margin-top: 2%;
    margin-inline: 7%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.font {
    font-family: 'Roboto', sans-serif;
}

.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content-img-size {

    margin-top: 65px;
    margin-left: auto;
    width: 700px;
}

.frame {
    border: 3px solid #eebb14;
}


.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.text {
    margin-top: 70px;
    margin-inline: 589px;
}

.text-font {
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
}

.line-color {
    margin-inline: 400px;
    background-color: #eebb14;
    border: none;
    height: 1.4px;
}

.product {
    text-align: center;
    margin-top: 60px;
}

.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eebb14;
}

.map{
    margin-left: 39%;
    margin-top: 60px;
}